<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to my site ! </h1>
    <div
        style="margin:auto;padding: 10px;  display: flex;  justify-content: center; border: 8px solid rgb(22, 201, 136); ">

        <form action="/login" method="get">
            <button style="margin-right: 50px ; ">login</button>
        </form>
        <br>
        <br>
        <form action="/signup" method="get">
            <button>Cerate Account</button>
        </form>
    </div>
</body>

</html>