<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
</head>

<body>

    <form action="/login" method="post">
        <fieldset>
            <legend> login:</legend>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Enter name">
            <br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter password">
            <br><br>
            <button type="submit">Login </button>

        </fieldset>

    </form>
</body>

</html>